<!-- <div class="container-fluid bg">
    <div class="row d-flex justify-content-center align-items-center" style="height: 100vh;">
        <div class="col-lg-6 col-md-8 col-sm-10 row p-0">
            <div class="row p-0 m-0 d-flex justify-content-center">
                <div class="col-lg-7 col-sm-12 login-box mt-4 p-0">
                    <div class="form">
                        <div class="d-flex justify-content-center mb-2">
                            <img class="img-fluid" src="../../../../assets/images/fav.jpg" width="150px" alt="logo"
                                loading="lazy">
                        </div>
                        <div>
                            <h2 class="heading">Reset Password</h2>
                            <h5 class="sub-heading">Now enter new password to access your account</h5>
                        </div>
                        <form #resetPasswordForm="ngForm" (ngSubmit)="onSubmit()">
                            <div class="form-group mt-4">
                                <label for="exampleInputPassword1">Password</label>
                                <input type="password" class="form-control" [(ngModel)]="checkPassword"
                                    #password="ngModel" name="password" required
                                    [ngClass]="{'is-invalid':password.touched && password.errors && password.errors['required']}">
                                <p *ngIf="password.touched && password.errors && password.errors['required']"
                                    class="validation-error ">
                                    Password is required
                                </p>
                                <p *ngIf="!isMaxErrorPasswordVisible()" class="validation-error ms-2">
                                    Password must have 8 characters
                                </p>
                            </div>
                            <div class="form-group mt-4">
                                <label for="exampleInputPassword1">Confirm Password</label>
                                <input type="password" class="form-control" [(ngModel)]="data.password"
                                    #password="ngModel" name="password" required
                                    [ngClass]="{'is-invalid':password.touched && password.errors && password.errors['required']}">
                                <p *ngIf="password.touched && password.errors && password.errors['required']"
                                    class="validation-error ">
                                    Password is required
                                </p>
                                <p *ngIf="checkPassword!=data.password && data.password!.length>0 "
                                    class="validation-error ms-2">
                                    <i class="fa-solid fa-circle-exclamation me-2"></i>
                                    <span style="font-size: small;">Password does not match</span>
                                </p>
                                <p
                                    *ngIf="checkPassword==data.password && data.password!.length>0 && data.password.length>=8">
                                    <span style="color: rgb(62, 179, 62);" class="ms-2">
                                        <i class="fa-solid fa-check me-2"></i>
                                        <span style="font-size: small;">Password Match</span>
                                    </span>
                                </p>
                            </div>
                            <button type="submit" class="btn btn-primary mt-4 w-100">Reset Password</button>
                            <div class="mt-5 d-flex justify-content-center">
                                <span>Remember your password? &nbsp;</span><span class="link-secondary"
                                    (click)="navigateTo('login')">Login</span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->



 <div class="container-fluid login-bg" >
     <div class="d-flex justify-content-center mt-5 mb-3">
          <img class="img-fluid" src="../../../../assets/images/Logo_Spont_Software-witoutbackground.png"  width="200px" height="20px" alt="logo"
                         loading="lazy">
     </div>
        <div class="row d-flex justify-content-center align-items-center" style="height: 70vh;">
            <div class="col-lg-7 col-md-8 col-sm-10">
                <div class="row border">
                    <div class="col-6 p-0">
                        <div class="background"></div>
                    </div>
                    <div class="col-6 p-0">
                         <div class="card p-3 px-4" style="height: 100%;">
                    <div class="d-flex justify-content-center">
                        <span class="heading">Reset Password</span>
                    </div>
                    <div class="mt-5">
                        <form #resetPasswordForm="ngForm" (ngSubmit)="onSubmit()">
                           <div class="text-field w100p mt-4">
                             <input class="text-base w100p" type="password" required placeholder=" " [(ngModel)]="checkPassword"
                                    #password="ngModel" name="password" required
                                    [ngClass]="{'is-invalid':password.touched && password.errors && password.errors['required']}">
                             <span>Password *</span>
                             <p *ngIf="password.touched && password.errors && password.errors['required']"
                                    class="validation-error ">
                                    Password is required
                                </p>
                                <p *ngIf="!isMaxErrorPasswordVisible()" class="validation-error ms-2">
                                    Password must have 8 characters
                                </p>
                            </div>

                           <div class="text-field w100p mt-4">
                             <input class="text-base w100p" type="password" required placeholder=" "[(ngModel)]="data.password"
                                    #Confirmpassword="ngModel" name="Confirmpassword" required
                                    [ngClass]="{'is-invalid':Confirmpassword.touched && Confirmpassword.errors && Confirmpassword.errors['required']}">
                             <span>Confirm Password *</span>
                              <p *ngIf="Confirmpassword.touched && Confirmpassword.errors && Confirmpassword.errors['required']"
                                    class="validation-error ">
                                    Password is required
                                </p>
                                <p *ngIf="checkPassword!=data.password && data.password!.length>0" class="validation-error ms-2"
                                   style="font-size: small;" >
                                    Password does not match
                                </p>
                                <p *ngIf="checkPassword==data.password && data.password!.length>0 && data.password.length>=8" class="text-success ms-2"
                                   sstyle="color: rgb(62, 179, 62);">
                                    Password match
                                </p>
                              
                            </div>


                            <button type="submit" class="btn btn-primary w-100 mt-5" style="height: 45px;">Reset Password</button>
                        </form>
                    </div>
                     <div class="mt-4 d-flex justify-content-center">
                                <span>Remember your password? &nbsp;</span><span class="link-secondary"
                                    (click)="navigateTo('login')">Login</span>
                            </div>
                </div>
                    </div>
                </div>
            </div>
        </div>
 </div>
