.item-list-wrapper {
    height: calc(100vh - 180px);
}

.item-list {
    max-height: calc(100vh - 254px);
    overflow: auto; 
}

.table-responsive {
    min-height: calc(100vh - 365px);
    max-height: calc(100vh - 365px);
}

.item-context-menu {
    position: absolute;
    min-width: 100px;
    right: 5px;
    z-index: 10;
}