::ng-deep {
    .mdc-form-field>label {
        margin: 0;
    }

    .mat-mdc-checkbox .mdc-checkbox .mdc-checkbox__native-control:enabled:checked~.mdc-checkbox__background,
    .mat-mdc-checkbox .mdc-checkbox .mdc-checkbox__native-control:enabled:indeterminate~.mdc-checkbox__background,
    .mat-mdc-checkbox .mdc-checkbox .mdc-checkbox__native-control[data-indeterminate=true]:enabled~.mdc-checkbox__background {
        border-color: #1e90ff !important;
        background-color: #1e90ff !important;
    }
}

.table-responsive {
    max-height: 70vh;
    overflow-y: auto;
}