<div class="card">
    <div class="title p-3">
        <span>Reset Password</span>
    </div>
    <hr class="m-0">
    <div class="p-3" >
              <form #loginForm="ngForm">
                  <div class="form-group mt-4">
                    <label for="input1" class="ms-2 position-absolute" style="margin-top: -0.60rem !important">
                        <span class="h6 small bg-white text-muted px-1">Current Password</span>
                    </label>
                    <input type="password" class="form-control" name="currentpassword" [(ngModel)]="data.password" #currentpassword="ngModel" required
                      required [ngClass]="{'is-invalid':currentpassword.touched && currentpassword.errors && currentpassword.errors['required']}">
                    <p *ngIf="currentpassword.touched && currentpassword.errors && currentpassword.errors['required']" class="validation-error ">
                          Current is required </p>
                </div>
                <div class="form-group mt-4">
                    <label for="input1" class="ms-2 position-absolute" style="margin-top: -0.60rem !important">
                        <span class="h6 small bg-white text-muted px-1">New Password</span>
                    </label>
                    <input type="password" class="form-control" name="newpassword" [(ngModel)]="data.newPassword" #newpassword="ngModel"
                    required [ngClass]="{'is-invalid':newpassword.touched && newpassword.errors && newpassword.errors['required']}">
                    <p *ngIf="newpassword.touched && newpassword.errors && newpassword.errors['required']" class="validation-error ">
                          Password is required </p>
                    <p *ngIf="!isMaxErrorPasswordVisible()" class="validation-error ms-2">
                             Password must have 8 characters
                     </p>
                </div>
                <div class="form-group mt-4">
                    <label for="input1" class="ms-2 position-absolute" style="margin-top: -0.60rem !important">
                        <span class="h6 small bg-white text-muted px-1">Confirm Password</span>
                    </label>
                    <input type="password" class="form-control" name="password" [(ngModel)]="confirmPassword" #password="ngModel"
                    required [ngClass]="{'is-invalid':password.touched && password.errors && password.errors['required']}">
                    <p *ngIf="password.touched && password.errors && password.errors['required']" class="validation-error ">
                          Password is required
                    </p>
                     <p *ngIf="confirmPassword!=data.newPassword && confirmPassword!.length>0 "
                                    class="validation-error ms-2">
                                    <!-- <i class="fa-solid fa-circle-exclamation me-2"></i> -->
                                    <!-- <span style="font-size: small;">Password does not match</span> -->
                                    Password does not match
                                </p>
                                <p class="text-success"
                                    *ngIf="confirmPassword==data.newPassword && data.newPassword!.length>0 && confirmPassword.length>=8">
                                    <!-- <span style="color: rgb(62, 179, 62);" class="ms-2">
                                        <i class="fa-solid fa-check me-2"></i>
                                        <span style="font-size: small;">Password Match</span>
                                    </span> -->
                                    Password Match
                                </p>
                </div>
              </form>
    </div>
    <hr class="m-0">
    <div class="p-3 d-flex justify-content-end">
        <button class="btn btn-outline-primary mx-3" (click)="close()">Cancel</button>
        <button class="btn btn-primary" type="submit" (click)="onSubmit()">Save</button>
    </div>
</div>
