<!-- <div class="container-fluid bg">
    <div class="row d-flex justify-content-center align-items-center" style="height: 100vh;">
        <div class="col-lg-6 col-md-8 col-sm-10 row p-0">
            <div class="row p-0 m-0 d-flex justify-content-center">
                <div class="col-lg-7 col-sm-12 login-box mt-4 p-0">
                    <div class="form">
                        <div class="d-flex justify-content-center mb-2">
                            <img class="img-fluid" src="../../../../assets/images/fav.jpg" width="150px" alt="logo"
                                loading="lazy">
                        </div>
                        <div>
                            <h2 class="heading">Forgot Password?</h2>
                            <h5 class="sub-heading">Enter your email to get a password reset link</h5>
                        </div>
                        <form #forgotPasswordForm="ngForm" (ngSubmit)="onSubmit()">
                            <div class="form-group mt-5">
                                <label for="exampleInputEmail1">Email address</label>
                                <input type="email" class="form-control" [(ngModel)]="data.email" #email="ngModel"
                                    name="email" required
                                    [ngClass]="{'is-invalid':email.touched && email.errors && email.errors['required']}">
                                <p *ngIf="email.touched && email.errors && email.errors['required']"
                                    class="validation-error ">
                                    Email is required
                                </p>
                            </div>
                            <button type="submit" class="btn btn-primary mt-4 w-100">Reset Password</button>
                            <div class="mt-5 d-flex justify-content-center">
                                <span>Remember your password? &nbsp;</span><span class="link-secondary"
                                    (click)="navigateTo('login')">Login</span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->


 <div class="container-fluid login-bg" >
     <div class="d-flex justify-content-center mt-5 mb-3">
          <img class="img-fluid" src="../../../../assets/images/Logo_Spont_Software-witoutbackground.png"  width="200px" height="20px" alt="logo"
                         loading="lazy">
     </div>
        <div class="row d-flex justify-content-center align-items-center" style="height: 70vh;">
            <div class="col-lg-7 col-md-8 col-sm-10">
                <div class="row border">
                    <div class="col-6 p-0">
                        <div class="background"></div>
                    </div>
                    <div class="col-6 p-0">
                         <div class="card p-3 px-4" style="height: 100%;">
                    <div class="d-flex justify-content-center">
                        <span class="heading">Forgot Password?</span>
                    </div>
                    <div class="mt-5">
                        <form #forgotPasswordForm="ngForm" (ngSubmit)="onSubmit()">
                           <div class="text-field w100p mt-4">
                             <input class="text-base w100p" type="text" required placeholder=" " [(ngModel)]="data.email" #email="ngModel"
                                    name="email" required
                                    [ngClass]="{'is-invalid':email.touched && email.errors && email.errors['required']}">
                             <span>Email *</span>
                              <p *ngIf="email.touched && email.errors && email.errors['required']"
                                    class="validation-error ">
                                    Email is required
                                </p>
                            </div>


                            <button type="submit" class="btn btn-primary w-100 mt-5" style="height: 45px;">Reset Password</button>
                        </form>
                    </div>
                     <div class="mt-4 d-flex justify-content-center">
                                <span>Remember your password? &nbsp;</span><span class="link-secondary"
                                    (click)="navigateTo('login')">Login</span>
                            </div>
                </div>
                    </div>
                </div>
            </div>
        </div>
 </div>