th{
    height: 40px;
    font-weight: 500;
    font-size: 12px;
    // border-color: rgb(170, 170, 170)!important;
}

td{
    height: 40px;
    font-weight: 500;
    font-size: 12px;
}

.border-bottom{
    border-bottom-color: rgb(170, 170, 170)!important;
}