.view {
    width: 100%;
    height: calc(100vh - 190px);
}

.selected{
    border: 3px solid #7539ff !important;
}

.selected-text{
    color: #7539ff;
}

.circle{
    height: 23px;
    width: 23px;
    border-radius: 50%;
    border: 1px solid gray;
    cursor: pointer;
}