<div class="card">
    <div class="title py-2 ms-3">
        {{status}} Godown
    </div>
    <hr class="my-0">
    <form #GodownForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="form-group my-5 w-75 ms-4">
            <label for="input1" class="ms-2 position-absolute" style="margin-top: -0.60rem !important">
                <span class="h6 small bg-white text-muted px-1">Name</span>
            </label>
            <input type="text" class="form-control" [(ngModel)]="data.name" name="name" #name="ngModel" required
                [ngClass]="{'is-invalid':name.touched && name.errors && name.errors['required']}">
            <p *ngIf="name.touched && name.errors && name.errors['required']" class="validation-error ">
                Name is required
            </p>
        </div>
        <div class="form-group my-5 w-75 ms-4">
            <label for="input1" class="ms-2 position-absolute" style="margin-top: -0.60rem !important">
                <span class="h6 small bg-white text-muted px-1">Address</span>
            </label>
            <textarea rows="4" type="text" class="form-control" [(ngModel)]="data.address" name="address"
                #address="ngModel"></textarea>
        </div>
    </form>
    <hr class="mb-0">
    <div class="d-flex justify-content-end px-4 mt-3">
        <button class="btn btn-outline-primary mx-2" (click)="close()">Cancel</button>
        <button class="btn btn-primary" (click)="onSubmit()">{{detail.id==null?'Save':'Update'}}</button>
    </div>
</div>